@import '../../styles/index.scss';

.lodgingHero {
    &__container {
        margin-bottom: 16px;
        @include breakpoint-large {
           display: flex;
           justify-content: space-between;
           align-items: center;
        }
    }
    &__user-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        @include breakpoint-large {
            height: 110px;
            margin: 20px 0 0 0;
            flex-direction: column-reverse;
        }
    }
    &__username-container {
        font-size: 12px;
        display: flex;
        width: 89px;
        text-align: right;
        column-gap: 10px;
        line-height: 17px;
        @include breakpoint-large {
            align-items: center;
            line-height: 26px;
            width: 167px;
            font-size: 18px;
        }
    }
    &__username-image {
        width: 32px;
        border-radius: 50%;
        @include breakpoint-large {
            width: 64px;
        }
    }
}