.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    @include breakpoint-large {
        padding: 40px 100px;
    }

    &__logo {
        width: 145px;
    }
    &__menu-list {
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        @include breakpoint-large {
            font-size: 24px;
            text-transform: capitalize;
            width: 240px;
        }
    }
    &__menu-item:last-child {
        
        margin-left: 10px;
    }
    &__menu-link {
        text-decoration: none;
        color: $primary-color;
    }
}