@import '../../styles/index.scss';

.lodgingHero {
    color: $primary-color;
    i {
        color: #E3E3E3;
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        @include breakpoint-large {
            height: 79px;
        }
    }
    &__image {
        border-radius: 10px;
        width: 100%;
        height: 255px;
        object-fit: cover;
        @include breakpoint-large {
            height: 415px;
            width: 100%;
            margin: 0;
        }
    }
    
    &__slider-container {
        padding: 0 20px;
        position: relative;
        font-size: 76px;
        @include breakpoint-large {
            padding: 0;
        }
    }
    &__slider-left-item {
        color: white !important;
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        @include breakpoint-large {
            width: 47px;
        }
    }
    &__slider-right-item {
        color: white !important;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        @include breakpoint-large {
            width: 47px;
        }
    }
    &__slider-left-item:hover, &__slider-right-item:hover {
        cursor: pointer;
    }
}