@import '../../styles/index.scss';

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 0;
    margin-bottom: 155px;
    padding: 0 20px;
    @include breakpoint-large {
        margin-top: 50px;
        padding: 0 50px;
        row-gap: 30px;
    }
    &__lodging {
        margin-top: 0;
        margin-bottom: 155px;
        padding: 0 20px;
        @include breakpoint-small {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding: 0 20px;
            align-items: baseline;
            column-gap: 20px;
        }
        @include breakpoint-large {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding: 0;
        }
    }
    &__item {
        background: $primary-color;
        border-radius: 5px;
        color: white;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-between;
        line-height: 19px;
        padding: 6px 7px 6px 12px;
        width: auto;
        margin: 0 auto;
        z-index: 50;
        position: relative;
        @include breakpoint-small {
            line-height: 22px;
            width: auto;
        }
        @include breakpoint-large {
            border-radius: 10px;
            font-size: 17px;
            line-height: 26px;
            margin: 0 auto;
            padding: 13px 13px 13px 20px;
            width: auto;
        }
    }
    &__item:hover, &__lodging-item:hover {
        cursor: pointer;
    }
    &__lodging-item {
        background: $primary-color;
        border-radius: 5px;
        color: white;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-between;
        line-height: 19px;
        padding: 6px 7px 6px 12px;
        width: auto;
        margin: 0 auto;
        margin-top: 20px;
        @include breakpoint-small {
            line-height: 22px;
            width: auto;
        }
        @include breakpoint-large {
            border-radius: 10px;
            font-size: 17px;
            line-height: 26px;
            margin: 0;
            padding: 13px 13px 13px 20px;
            width: auto;
        }
    }
    &__item-content {
        background: #F6F6F6;
        border-radius: 5px;
        color: $primary-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        padding: 23px 12px;
        width: auto;
        margin: 0 auto;
        margin-top: -10px;
        z-index: 25;
        margin-bottom: 10px;
        
        @include breakpoint-large {
            font-size: 18px;
            padding: 36px 18px;
        }
    }
    &__lodging-item-content {
        background: #F6F6F6;
        color: $primary-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        padding: 23px 12px;
        width: auto;
        margin: 0 auto;
        @include breakpoint-large {
            font-size: 18px;
            padding: 36px 18px;
            width: auto;
            box-sizing: content-box;
        }
    }
    &__lodging-accordion-container {
        width: 100%;
        @include breakpoint-large {
            width: 100%;
        }
    }
}