@import '../../styles/index.scss';

.accordion {
    margin-top: 0;
    margin-bottom: 155px;
    padding: 0 20px;
    @include breakpoint-large {
        margin-top: 50px;
        padding: 0 50px;
    }
    &__lodging {
        margin-top: 0;
        margin-bottom: 155px;
        padding: 0 20px;
        @include breakpoint-large {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding: 0;
        }
    }
    &__item {
        background: $primary-color;
        border-radius: 10px;
        color: white;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-between;
        padding: 15px 20px;
        width: auto;
        margin: 0 auto;
        margin-top: 30px;
        @include breakpoint-large {
            font-size: 24px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 100%;
        }
    }
    &__item:hover, &__lodging-item:hover {
        cursor: pointer;
    }
    &__lodging-item {
        background: $primary-color;
        border-radius: 10px;
        color: white;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-between;
        padding: 15px 20px;
        width: auto;
        margin: 0 auto;
        margin-top: 30px;
        @include breakpoint-large {
            font-size: 24px;
            margin: 0;
            width: 560px;
        }
    }
    &__item-content {
        background: #F6F6F6;
        border-radius: 10px;
        color: $primary-color;
        // display: none;
        font-size: 12px;
        font-weight: 400;
        padding: 23px 12px 52px 12px;
        width: auto;
        margin: 0 auto;
        
        @include breakpoint-large {
            margin-bottom: 30px;
            font-size: 18px;
            padding: 36px 18px;
            // width: 100%;
            margin-top: -31px;
        }
    }
    &__lodging-item-content {
        background: #F6F6F6;
        color: $primary-color;
        // display: none;
        font-size: 12px;
        font-weight: 400;
        padding: 23px 12px 52px 12px;
        width: auto;
        margin: 0 auto;
        @include breakpoint-large {
            font-size: 18px;
            padding: 36px 18px;
            // width: 560px;
            width: auto;
            box-sizing: content-box;
        }
    }
    &__lodging-accordion-container {
        width: 100%;
        @include breakpoint-large {
            width: 582px;
        }
    }
}