@import '../../styles/index.scss';

.lodgingHero {
    color: $primary-color;
    
    &__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-left: 20px;
        margin-right: 20px;
        @include breakpoint-small {
            font-size: 28px;
            line-height: 35px;
            // margin: 0;
        }
        @include breakpoint-large {
            font-size: 36px;
            line-height: 51px;
            margin: 0;
        }
    }
    &__location {
        display: block;
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 500;
        @include breakpoint-large {
            font-size: 18px;
            margin: 0;
        }
    }
}