@import '../../styles/index.scss';

.footer {
    background: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    padding: 62px 0;
    text-align: center;
    height: 80px;
    @include breakpoint-large {
        font-size: 24px;
        height: 209px;
    }
    &__logo {
        width: 122px;
        display: block;
        margin-bottom: 45px;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint-large {
            margin-bottom: 45px;
        }
    }
    &__text {
        margin-top: 20px;
    }
}