body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: auto;
    // @include breakpoint-large {
    //     width: 1440px;
    // }
}

main {
    margin: 0 auto;
    @include breakpoint-large {
        width: 1240px;
    }
}

.active {
    text-decoration: underline;
}

.red {
    color: $primary-color !important;
}